.mainbutton{
    height: 40px;
    width: 100px;
    background-color: rgb(20, 68, 20);
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}