.eye-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.eye-icon svg {
  width: 100%;
  height: 100%;
}

circle{
    width: 100%;
    height: 100%;
}

